<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <img src="/static/pictures/m.jpg" alt="picture" width="100" height="100">
    <h5>Name:Sai Sandeep Gottipati</h5>
    <h4>Number:4726</h4>
    
    {% block listall %} {% endblock %}
    {% block listallpictures %}{% endblock %}
    {% block getSalary %}{% endblock %}
    {% block resultgetSalary %}{% endblock %}
    {% block modify %}{% endblock %}
    {% block modifysuccess %}{% endblock %}
    
</html>