<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListAll</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Comments</th>
            <th>Income</th>
          </tr>
        </thead>
        <tbody>
          {% for item1, item2,item3 in zip(user_list, comment_list,income_list) %}
            <tr>
              <td>{{ item1 }}</td>
              <td>{{ item2 }}</td>
              <td>{{ item3 }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</body>
</html>